In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from tabulate import tabulate

In [2]:
cd_1988 = pd.read_csv("C:/Data/Nash_Census_2022/nhgis0018_csv/nhgis0018_csv/nhgis0018_ds123_1990_tract.csv")

C:\Users\there\AppData\Local\Temp\ipykernel_51868\3495927696.py:1: DtypeWarning: Columns (15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  cd_1988 = pd.read_csv("C:/Data/Nash_Census_2022/nhgis0018_csv/nhgis0018_csv/nhgis0018_ds123_1990_tract.csv")

In [3]:
tn_cd_1988 = cd_1988[(cd_1988['STATE'] == 'Tennessee')]

In [4]:
nash_cd_1988 = tn_cd_1988[(tn_cd_1988['COUNTY'] == 'Davidson')]

In [5]:
nash_poverty_cd_1988 = nash_cd_1988[['GISJOIN', 'YEAR', 'STATE', 'COUNTY', 'TRACTA', 'E1C001', 'E1C002', 'E1C003', 'E1C004', 'E1C005', 'E1C006', 'E1C007', 'E1C008', 'E1C009']]

In [6]:
nash_poverty_cd_1988.rename(columns = {'E1C001' : 'UnderHalfPL', 'E1C002' : 'UnderPL'}, inplace = True)

C:\Users\there\AppData\Local\Temp\ipykernel_51868\3423862107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nash_poverty_cd_1988.rename(columns = {'E1C001' : 'UnderHalfPL', 'E1C002' : 'UnderPL'}, inplace = True)

In [7]:
nash_poverty_cd_1988.head()

,GISJOIN,YEAR,STATE,COUNTY,TRACTA,UnderHalfPL,UnderPL,E1C003,E1C004,E1C005,E1C006,E1C007,E1C008,E1C009
50767,G4700370010101,1990,Tennessee,Davidson,10101,107,89,191,85,167,228,51,136,4065
50768,G4700370010102,1990,Tennessee,Davidson,10102,218,70,134,105,141,314,39,172,5064
50769,G47003700102,1990,Tennessee,Davidson,102,166,163,68,219,266,197,56,187,5218
50770,G47003700103,1990,Tennessee,Davidson,103,196,58,192,200,342,365,20,163,6553
50771,G4700370010401,1990,Tennessee,Davidson,10401,120,111,88,110,68,156,99,63,2067

In [10]:
nash_poverty_cd_1988['PercentUnderPL'] = ((nash_poverty_cd_1988.UnderHalfPL + nash_poverty_cd_1988.UnderPL) /
(nash_poverty_cd_1988.UnderHalfPL + nash_poverty_cd_1988.UnderPL + nash_poverty_cd_1988.E1C003 + nash_poverty_cd_1988.E1C004 + nash_poverty_cd_1988.E1C005 + nash_poverty_cd_1988.E1C006 + nash_poverty_cd_1988.E1C007 + nash_poverty_cd_1988.E1C008 + nash_poverty_cd_1988.E1C009)) * 100

C:\Users\there\AppData\Local\Temp\ipykernel_51868\3143697733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nash_poverty_cd_1988['PercentUnderPL'] = ((nash_poverty_cd_1988.UnderHalfPL + nash_poverty_cd_1988.UnderPL) /

In [11]:
nash_poverty_cd_1988.head()

,GISJOIN,YEAR,STATE,COUNTY,TRACTA,UnderHalfPL,UnderPL,E1C003,E1C004,E1C005,E1C006,E1C007,E1C008,E1C009,PercentUnderPL
50767,G4700370010101,1990,Tennessee,Davidson,10101,107,89,191,85,167,228,51,136,4065,3.828873
50768,G4700370010102,1990,Tennessee,Davidson,10102,218,70,134,105,141,314,39,172,5064,4.602845
50769,G47003700102,1990,Tennessee,Davidson,102,166,163,68,219,266,197,56,187,5218,5.030581
50770,G47003700103,1990,Tennessee,Davidson,103,196,58,192,200,342,365,20,163,6553,3.140067
50771,G4700370010401,1990,Tennessee,Davidson,10401,120,111,88,110,68,156,99,63,2067,8.015267

In [20]:
nash_cd_1988_cleaned = nash_poverty_cd_1988[['GISJOIN', 'TRACTA', 'UnderHalfPL', 'UnderPL', 'PercentUnderPL']]

In [21]:
nash_cd_1988_cleaned.head()

              GISJOIN  TRACTA  UnderHalfPL  UnderPL  PercentUnderPL
50767  G4700370010101   10101          107       89        3.828873
50768  G4700370010102   10102          218       70        4.602845
50769    G47003700102     102          166      163        5.030581
50770    G47003700103     103          196       58        3.140067
50771  G4700370010401   10401          120      111        8.015267